.one,
.two,
.three {
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  padding: 5 px;
  margin: 30px;
  border-radius: 5px;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: Arial;
}
.one:hover,
.two:hover,
.three:hover {
  background-color: powderblue;
  color: black;
}
.one {
  background-color: palevioletred;
}
.two {
  background-color: plum;
}
.three {
  background-color: cornflowerblue;
}

.notification {
  position: fixed;
  z-index: 1000;
  padding: 5px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  border: 3px outset white;
}

.welcome {
  background: #60538d94;
  color: rgb(161, 243, 243);
  line-height: 30px;
}

.text {
  width: inherit;
  background-color: lightblue;
  color:  black;
  padding: 5px;
  font-size: 18px;
  max-width: 500px;
}

.aaa{
  background-color: rgba(123, 248, 221, 0.664);
}